/* CSS for plugin: Debug Bar Screen Info */
#debug-menu-target-Debug_Bar_Screen_Info_Panel table.debug-bar-screen-info {
	width: 100%;
	border-collapse: collapse;
	cell-padding: 1em;
	clear: both;
    line-height: 1.5;
	font-size: 12px;
}

#debug-menu-target-Debug_Bar_Screen_Info_Panel .debug-bar-screen-info thead th,
#debug-menu-target-Debug_Bar_Screen_Info_Panel .debug-bar-screen-info tfoot th {
    padding: 0.7em 5px;
}
#debug-menu-target-Debug_Bar_Screen_Info_Panel .debug-bar-screen-info thead th {
    border-bottom: 1px solid #ccc;
}
#debug-menu-target-Debug_Bar_Screen_Info_Panel .debug-bar-screen-info tfoot th {
    border-top: 1px solid #ccc;
}


#debug-menu-target-Debug_Bar_Screen_Info_Panel .debug-bar-screen-info th {
	min-width: 100px;
    font-weight: bold;
	padding: 2px 1em 2px 5px;
    vertical-align: top;
}
#debug-menu-target-Debug_Bar_Screen_Info_Panel .debug-bar-screen-info td {
	padding: 2px 5px;
    vertical-align: top;
}
#debug-menu-target-Debug_Bar_Screen_Info_Panel .debug-bar-screen-info-explain {
	font-size: 90%;
	width: 50%;
}

#debug-menu-target-Debug_Bar_Screen_Info_Panel .debug-bar-screen-info tr:nth-child(2n+1) {
	background-color: #E8E8E8;
}

#debug-menu-target-Debug_Bar_Screen_Info_Panel p {
	margin-top: 2em;
}